<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://sportzx.local/tv"
        version="1.0.0"
        viewmodes="maximized">
    <access origin="*" subdomains="true"/>

    <tizen:application id="SPRTXTV001.SportzXTV"
                       package="SPRTXTV001"
                       required_version="5.5"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>SportzX TV</name>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"
                   hwkey-event="enable"
                   pointing-device-support="disable"/>
</widget>
